.text-component1-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: clamp(8px, 1.111vw, 16px);
}

.text-component1-container h1 {
    font-family: 'PPMori-Regular';
    color: var(--white-color);
    font-size: clamp(32px, 4.444vw, 64px);
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.text-component1-container .li1 {
    font-family: 'PPMori-Regular';
    color: var(--white-color);
    font-size: clamp(16px, 2.222vw, 32px);
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.text-component1-container ul {
    list-style-type: disc;
    padding-left: clamp(24px, 3.333vw, 48px);
  }

  .text-component1-container li {
    margin-bottom: clamp(5px, 0.694vw, 10px);
  }