/*FONTS*/
@font-face {
  font-family: 'PPMori-Regular';
  src: url(../../assets/fonts/PPMori-Regular.otf);
}

@font-face {
  font-family: 'PPMori-SemiBold';
  src: url(../../assets/fonts/PPMori-SemiBold.otf);
}

@font-face {
  font-family: 'PPEditorialNew-Itlaic';
  src: url(../../assets/fonts/PPEditorialNew-Italic.otf);
}

/* COLORS */
:root {
  --black-color: #101010;
  --white-color: #ffffff;
  --grey-color: #7C7C83;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* LANDING */
.landing-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  height: 100svh;
}

.landing-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
  padding-top: clamp(30px, 4.167vw, 60px);
  padding-left: clamp(30px, 4.167vw, 60px);
  padding-right: clamp(30px, 4.167vw, 60px);
  padding-bottom: clamp(30px, 4.167vw, 60px);
}

.title-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.landing-content .title-container h3 {
  font-family: 'PPMori-Regular';
  color: var(--white-color);
  font-size: clamp(42px, 4.444vw, 64px);
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.landing-content .title-container h1 {
  font-family: 'PPEditorialNew-Itlaic';
  font-size: clamp(124px, 13.333vw, 192px);
  font-style: italic;
  font-weight: 400;
  line-height: normal;
}

.sections-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.sections-container button {
  font-family: 'PPMori-SemiBold';
  color: var(--black-color);
  font-size: clamp(32px, 3.333vw, 48px);
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  background-color: var(--white-color);
  padding-top: clamp(10px, 0.694vw, 10px);
  padding-bottom: clamp(10px, 0.694vw, 10px);
  padding-left: clamp(35px, 3.125vw, 45px);
  padding-right: clamp(35px, 3.125vw, 45px);
  border-radius: clamp(35px, 3.125vw, 44px);
  border: none;
  cursor: pointer;
}

@media screen and (min-width: 1024px) {
  .sections-container button {
    transition: transform 0.2s ease-out, background-color 0.2s ease; /* Updated */
    position: relative;
    overflow: hidden;
    display: inline-block; /* Ensure the button is only as wide as its content */
  }

  .sections-container button span { /* New */
    position: relative;
    display: inline-block;
  }

  .sections-container button::after {
    content: '';
    position: absolute;
    bottom: -2px; /* Adjusted to ensure it's directly under the text */
    left: 50%;
    width: 0%; /* Start with no width */
    height: 2px;
    background-color: currentColor;
    transform: translateX(-50%);
    transition: width 0.2s ease-out; /* Animate width instead of scaleX */
  }

  .sections-container button:hover::after {
    width: 100%; /* Full width on hover */
    left: 0;
    transform: translateX(0%);
  }

  .sections-container button:hover {
    transform: translateY(-10px); /* Subtle shift upwards */
  }
}

@media screen and (min-width: 430px) and (max-width: 768px) {
  .landing-content {
    padding: 40px;
  }

  .landing-content .title-container h3 {
    font-size: 36px;
  }

  .landing-content .title-container h1 {
    font-size: 108px;
  }

  .sections-container button {
    font-size: 24px;
    padding: 10px 25px;
  }
}

@media screen and (min-width: 530px) and (max-width: 600px) {
  .landing-content .title-container h3 {
    font-size: 32px;
  }

  .landing-content .title-container h1 {
    font-size: 96px;
  }

  .sections-container button {
    font-size: 20px;
    padding: 10px 20px;
  }

}

@media screen and (min-width: 430px) and (max-width: 530px) {
  .landing-content .title-container h3 {
    font-size: 28px;
  }

  .landing-content .title-container h1 {
    font-size: 84px;
  }

  .sections-container button {
    font-size: 18px;
    padding: 10px 20px;
  }
}

@media screen and (max-width: 430px) {

  .landing-content {
    padding: 20px;
  }

  .landing-content .title-container h3 {
    font-size: 24px;
  }

  .landing-content .title-container h1 {
    font-size: 72px;
  }

  .sections-container {
    flex-direction: column;
  }

  .sections-container button {
    font-size: 18px;
    padding: 10px 20px;
  }
}





