.copyright-footer-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    bottom: 0;
    padding-top: clamp(1rem, 2.222vw, 1.5rem);
    padding-bottom: clamp(1rem, 2.222vw, 1.5rem);
    padding-left: clamp(1.875rem, 4.167vw, 3.75rem);
    padding-right: clamp(1.875rem, 4.167vw, 3.75rem);
    border-top-left-radius: clamp(1.5rem, 3.333vw, 3rem);
    border-top-right-radius: clamp(1.5rem, 3.333vw, 3rem);
    background: var(--black-color);
    font-family: 'PPMori-Regular';
    color: var(--white-color);
    z-index: 2;
}

.white {
   background: var(--white-color); 
   color: var(--black-color);
   font-family: 'PPMori-SemiBold';
}

.copyright-footer-container p {
    font-size: clamp(0.75rem, 1.667vw, 1.125rem);
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 0;
}