.about-bg {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    background: var(--white-color);
    border-top-left-radius: clamp(1.5rem, 3.333vw, 3rem);
    border-top-right-radius: clamp(1.5rem, 3.333vw, 3rem);
    z-index: 2; 
}

.about-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: clamp(2.5rem, 5.556vw, 5rem);
    width: 100%;
    max-width: 1440px;
    padding-top: clamp(2.5rem, 5.556vw, 5rem);
    padding-left: clamp(2.5rem, 5.556vw, 5rem);
    padding-right: clamp(2.5rem, 5.556vw, 5rem);
    padding-bottom: clamp(2.5rem, 5.556vw, 5rem);
}

.about-me {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: clamp(2rem, 2.222vw, 4rem);
    
}

.about-me .sm-img {
    display: none;
}

.about-content img {
    width: clamp(17.5rem, 38.889vw, 34rem);;
    height: auto;
    border-radius: clamp(1.5rem, 3.333vw, 3rem);
    object-fit: cover;
}

.about-bg h1 {
    width: 100%;
    font-family: 'Inter';
    font-size: clamp(3rem, 6.667vw, 6rem);
    color: var(--black-color);
    text-align: left;
    font-style: normal;
    font-weight: 800;
    line-height: 90%
}

.about-bg p {
    font-family: 'PPMori-SemiBold';
    font-size: clamp(1.125rem, 2.5vw, 2.25rem);
    text-align: justify;
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: clamp(1.875rem, 4.167vw, 3.75rem);
}

.button-container {
    font-family: 'PPMori-SemiBold';
    font-size: clamp(1.125rem, 2.5vw, 2.25rem);
    color: var(--white-color);
    background: var(--black-color);
    border: none;
    padding-top: clamp(0.55rem, 1.111vw, 1rem);
    padding-bottom: clamp(0.55rem, 1.111vw, 1rem);
    padding-left: clamp(1.5rem, 2.222vw, 2.5rem);
    padding-right: clamp(1.5rem, 2.222vw, 2.5rem);
    border-radius: clamp(2.5rem, 5.5556vw , 5rem);
    cursor: pointer;
}

@media screen and (min-width: 1024px) {
    .about-me button {
        transition: transform 0.15s ease-out;
    }
    
    .about-me button:hover{
        transform: translateY(-5px); 
    }
  }

@media screen and (max-width: 768px) {
    .about-me .sm-img {
        display: block;
        width: clamp(17.5rem, 80.889vw, 35rem);
        height: auto;
        border-radius: clamp(1.5rem, 3.333vw, 3rem);
        object-fit: cover;
    }

    .about-content  {
        flex-direction: column;
    }

    .about-content img {
        display: none;
    }
}