.BG-container {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -100;
}

/* ELLIPSE */
.ellipse-1,
.ellipse-2,
.ellipse-3,
.ellipse-4,
.ellipse-5,
.ellipse-6,
.ellipse-7,
.ellipse-8 {
  position: absolute;
  z-index: -1;
}

.ellipse-1 {
  left: 139px;
  top: 238px;
  width: clamp(100px, 10.417vw, 150px);
}

.ellipse-2 {
  left: 260px;
  top: 160px;
  width: clamp(50px, 6.944vw, 100px);
}

.ellipse-3 {
  left: 327px;
  top: 102px;
  width: clamp(25px, 3.472vw, 50px);
}

.ellipse-4 {
  top: 139px;
  right: 222px;
  width: clamp(50px, 6.944vw, 100px);
}

.ellipse-5 {
  right: 140px;
  top: 204px;
  width: clamp(30px, 5.556vw, 80px);
}

.ellipse-6 {
  right: 121px;
  top: 291px;
  width: clamp(25px, 3.472vw, 50px);
}

.ellipse-7 {
  right: 85px;
  bottom: 260px;
  width: clamp(150px, 17.361vw, 250px);
}

.ellipse-8 {
  right: 275px;
  bottom: 193px;
  width: clamp(30px, 5.556vw, 80px);
}
