.sections-navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: clamp(5px, 0.694vw, 10px);
  padding-top: clamp(10px, 1.528vw, 22px);
  padding-bottom: clamp(10px, 1.528vw, 22px);
  padding-left: clamp(18px, 2.083vw, 30px);
  padding-right: clamp(18px, 2.083vw, 30px);
  position: fixed;
  top: clamp(16px,2.693vw,38px);
  z-index: 100;
  border-radius: 44px;
  background: linear-gradient(83deg, rgba(255, 255, 255, 0.10) 28.78%, rgba(255, 255, 255, 0.40) 55.78%), linear-gradient(277deg, rgba(255, 255, 255, 0.10) 27.09%, rgba(255, 255, 255, 0.40) 55.08%);
  backdrop-filter: blur(20px);
}

.sections-navbar button {
  font-family: 'PPMori-SemiBold';
  color: var(--black-color);
  font-size: clamp(12px, 1.667vw, 24px);
  font-weight: 600;
  padding-top: clamp(5px, 0.694vw, 10px);
  padding-bottom: clamp(5px, 0.694vw, 10px);
  padding-left: clamp(10px, 1.736vw, 25px);
  padding-right: clamp(10px, 1.736vw, 25px);
  border-radius: 44px;
  background-color: var(--white-color);
  border: none;
  cursor: pointer;
}