.preloader {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background: var(--white-color);
    color: var(--black-color);
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 9999; 
}

.preloader .texts-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: clamp(0.25rem, 0.556vw, 0.5rem);
    font-size: clamp(1.125rem, 2.222vw, 4rem);
    font-family: 'PPMori-SemiBold';
    color: var(--black-color);
    overflow: hidden;
}