.contact-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    background: var(--black-color);
    border-top-left-radius: clamp(1.5rem, 3.333vw, 3rem);
    border-top-right-radius: clamp(1.5rem, 3.333vw, 3rem);
    z-index: 2; 
}

.contact-content {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: clamp(2rem, 2.222vw, 4rem);
    width: 100%;
    max-width: 1440px;
    padding-top: clamp(1.875rem, 4.167vw, 3.75rem);
    padding-left: clamp(2.5rem, 5.556vw, 5rem);
    padding-right: clamp(2.5rem, 5.556vw, 5rem);
    padding-bottom: clamp(1.875rem, 4.167vw, 3.75rem);
}

.contact-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: clamp(2rem, 2.222vw, 4rem);
}

.contact-main h1 {
    width: 100%;
    font-family: 'PPMori-SemiBold';
    font-size: clamp(3rem, 6.667vw, 6rem);
    color: var(--white-color);
    text-align: left;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.contact-me {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: clamp(2rem, 2.222vw, 4rem);
}

.contact-me h1 {
    font-family: 'PPMori-SemiBold';
    color: var(--white-color);
    font-size: clamp(2.5rem, 5.556vw, 5rem);
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.contact-info {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    gap: clamp(2rem, 2.222vw, 4rem);
}

.flex-row {
    display: flex;
    align-items: center; 
    gap: clamp(0.75rem, 1.667vw, 1.5rem);
    text-decoration: none;
  }

.flex-row img {
    width: clamp(1.875rem, 4.167vw, 3.75rem);
    height: clamp(1.875rem, 4.167vw, 3.75rem);
}

.flex-row p {
    font-family: 'PPMori-SemiBold';
    font-size: clamp(1.3125rem, 2.917vw, 2.625rem);
    color: var(--white-color);
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

@media screen and (max-width: 580px) {
    .contact-content {
        flex-direction: column;
        gap: clamp(2rem, 2.222vw, 4rem);
    }
}
