/*FONTS*/
@font-face {
    font-family: 'PPMori-Regular';
    src: url(../../assets/fonts/PPMori-Regular.otf);
}
@font-face {
    font-family: 'PPMori-SemiBold';
    src: url(../../assets/fonts/PPMori-SemiBold.otf);
}
@font-face {
    font-family: 'PPEditorialNew-Itlaic';
    src: url(../../assets/fonts/PPEditorialNew-Italic.otf);
}

/* COLORS */
:root {
    --black-color: #101010;
    --white-color: #ffffff;
    --grey-color: #7C7C83;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* NAVBAR */
.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: clamp(30px, 3.472vw, 60px);
    padding-left: clamp(30px, 4.167vw, 60px);
    padding-right: clamp(30px, 4.167vw, 60px);
}

h1 {
    font-family: 'PPMori-Regular';
    color: var(--white-color);
    font-size: clamp(18px, 1.667vw, 24px);
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 0;
}

.navbar-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: clamp(32px, 2.917vw, 42px);
}

.navbar-links a img {
    width: clamp(32px, 2.917vw, 42px);
    height: clamp(32px, 2.917vw, 42px); 
}

.ham-btn {
    display: none;
}

@media screen and (min-width: 768px) {
    .navbar-menu-container {
        display: none;
    }
}

@media screen and (min-width: 1024px) {
    .navbar-links a img {
        transition: transform 0.15s ease-out;
    }
    
    .navbar-container a:hover img {
        transform: translateY(-5px); 
    }
}

@media screen and (min-width: 430px) and (max-width: 768px) {
    .ham-btn {
        display: block;
        cursor: pointer;
    }

    .navbar-links {
        display: none;
    }


    .ham-btn {
        width: clamp(24px, 2.222vw, 32px);
        height: clamp(24px, 2.222vw, 32px);
    }
}

@media screen and (max-width: 430px) {

    h1 {
        font-size: 16px;
    }

    .ham-btn {
        display: block;
        cursor: pointer;
        width: 24px;
        height: 24px;
    }

    .navbar-links {
        display: none;
    }
}

.ham-menu-items {
    text-decoration: none;
}

.ham-menu-items img {
    width: clamp(32px, 2.917vw, 48px);
    height: clamp(32px, 2.917vw, 48px);
}