.box-container {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  flex-direction: column;
  width: 100%;
  gap: clamp(16px, 5.556vw, 80px);
}

.box-main {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  width: 100%;
}

.box-big {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: clamp(8px, 1.111vw, 16px);
  width: clamp(225px, 59.028vw, 850px);
  height: clamp(150px, 41.667vw, 600px);
}

.box-big img {
  width: 100%;
  height: 100%;
  border-radius: clamp(16px, 2.222vw, 32px);
  object-fit: cover;
}

.box-big p {
  font-family: 'PPMori-Regular';
  color: var(--white-color);
  font-size: clamp(16px, 1.944vw, 28px);
  font-style: normal;
  line-height: normal;
}

.box-big-right {
  align-items: flex-end;
}

.box-big-right p {
  text-align: right;
}

.box-small {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: left;
  gap: 16px;
  width: clamp(95px, 25.694vw, 370px);
  height: clamp(150px, 41.667vw, 600px); 
}

.box-small img {
  width: 100%;
  height: 100%;
  border-radius: clamp(16px, 2.222vw, 32px);
  object-fit: cover;
}

.box-small p {
  font-family: 'PPMori-Regular';
  color: var(--white-color);
  font-size: clamp(16px, 1.944vw, 28px);
  font-style: normal;
  line-height: normal;
}

.box-small-right {
  align-items: flex-end;
}

.box-small-right p {
  text-align: right;
}

.box-equal {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
  width: clamp(95px, 26.042vw, 375px);
  height: clamp(150px, 41.667vw, 600px);
}

.box-equal img {
  width: 100%;
  height: 100%;
  border-radius: clamp(16px, 2.222vw, 32px);
  object-fit: cover;
}

.display-none {
  display: none;
}

@media screen and (min-width: 430px) and (max-width: 600px) {
  .box-main {
    flex-direction: column;
    width: 100%;
    gap: clamp(8px, 5.556vw, 80px);
  }

  .box-big,
  .box-big-right {
    width: 100%;
    height: auto;
  }

  .box-big p,
  .box-big-right p {
    font-size: clamp(12px, 1.111vw, 16px);
  }

  .box-small,
  .box-small-right {
    width: 100%;
    height: auto;
    order: 2;
  }

  .box-small p,
  .box-small-right p {
    font-size: clamp(12px, 2.222vw, 16px);
  }

  .box-equal {
    width: 100%;
    height: auto;
  }
}

@media screen and (max-width: 430px) {
  .box-main {
    flex-direction: column;
    width: 100%;
    gap: clamp(8px, 5.556vw, 80px);
  }

  .box-big ,
  .box-big-right {
    width: 100%;
    height: auto;
  }

  .box-big p {
    font-size: clamp(12px, 2.222vw, 16px);
  }

  .box-small,
  .box-small-right {
    width: 100%;
    height: auto;
    order: 2;
  }

  .box-small p,
  .box-small-right p {
    font-size: clamp(12px, 1.111vw, 16px);
  }

  .box-equal {
    width: 100%;
    height: auto;
  }
}