/* LANDING */
.landing-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  height: 100svh;
  width: 100%;
  max-width: 1440px;
}

.landing-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding-top: clamp(1.875rem, 4.167vw, 3.75rem);
  padding-left: clamp(1.875rem, 4.167vw, 3.75rem);
  padding-right: clamp(1.875rem, 4.167vw, 3.75rem);
  padding-bottom: clamp(1.875rem, 4.167vw, 3.75rem);
}

.title-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.landing-content .title-container h3 {
  font-family: 'PPMori-Regular';
  color: var(--white-color);
  font-size: clamp(2.625rem, 4.444vw, 4rem);
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.landing-content .title-container h1 {
  font-family: 'PPEditorialNew-Itlaic';
  color: var(--white-color);
  font-size: clamp(7.75rem, 13.333vw, 12rem);
  font-style: italic;
  font-weight: 400;
  line-height: normal;
}

.sections-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.625rem;
}

.sections-container button {
  font-family: 'PPMori-SemiBold';
  color: var(--black-color);
  font-size: clamp(2rem, 3.333vw, 3rem);
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  background-color: var(--white-color);
  padding-top: 0.625rem;
  padding-bottom: 0.625rem;
  padding-left: clamp(2.188rem, 3.125vw, 2.813rem);
  padding-right: clamp(2.188rem, 3.125vw, 2.813rem);
  border-radius: clamp(2.188rem, 3.125vw, 2.813rem);
  border: none;
  cursor: pointer;
}

@media screen and (min-width: 1024px) {
  .sections-container button {
    transition: transform 0.2s ease-out, background-color 0.2s ease; /* Updated */
    position: relative;
    overflow: hidden;
    display: inline-block; /* Ensure the button is only as wide as its content */
  }

  .sections-container button span { /* New */
    position: relative;
    display: inline-block;
  }

  .sections-container button::after {
    content: '';
    position: absolute;
    bottom: -2px; /* Adjusted to ensure it's directly under the text */
    left: 50%;
    width: 0%; /* Start with no width */
    height: 2px;
    background-color: currentColor;
    transform: translateX(-50%);
    transition: width 0.2s ease-out; /* Animate width instead of scaleX */
  }

  .sections-container button:hover::after {
    width: 100%; /* Full width on hover */
    left: 0;
    transform: translateX(0%);
  }

  .sections-container button:hover {
    transform: translateY(-10px); /* Subtle shift upwards */
  }
}

@media screen and (min-width: 430px) and (max-width: 768px) {
  .landing-content {
    padding: 2.5rem;
  }

  .landing-content .title-container h3 {
    font-size: 2.25rem;
  }

  .landing-content .title-container h1 {
    font-size: 6.75rem;
  }

  .sections-container button {
    font-size: 1.5rem;
    padding: 0.625rem 1.5rem;
  }
}

@media screen and (min-width: 530px) and (max-width: 600px) {
  .landing-content .title-container h3 {
    font-size: 2rem;
  }

  .landing-content .title-container h1 {
    font-size: 6rem;
  }

  .sections-container button {
    font-size: 1.25rem;
    padding: 0.625rem 1.25rem;
  }

}

@media screen and (min-width: 430px) and (max-width: 530px) {
  .landing-content .title-container h3 {
    font-size: 1.75rem;
  }

  .landing-content .title-container h1 {
    font-size: 5.25rem;
  }

  .sections-container button {
    font-size: 1.125rem;
    padding: 0.625rem 1.25rem;
  }
}

@media screen and (max-width: 430px) {

  .landing-content {
    padding: 1.25rem;
  }

  .landing-content .title-container h3 {
    font-size: 1.5rem;
  }

  .landing-content .title-container h1 {
    font-size: 4.5rem;
  }

  .sections-container {
    flex-direction: column;
  }

  .sections-container button {
    font-size: 1.125rem;
    padding: 0.625rem 1.25rem;
  }
}





