/* FOOTER */
footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: clamp(30px, 4.167vw, 60px);
    padding-right: clamp(30px, 4.167vw, 60px);
    padding-bottom: clamp(30px, 4.167vw, 60px);
}

.recent-experience ,
.location {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 8px;
}

.recent-experience .p1,
.location .p1 {
    font-family: 'PPMori-SemiBold';
    color: var(--white-color);
    font-size: clamp(16px, 1.667vw, 24px);
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.recent-experience .p2,
.location .p2 {
    font-family: 'PPMori-Regular';
    color: var(--grey-color);
    font-size: clamp(14px, 1.389vw, 20px);
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.location img,
.recent-experience img {
    width: clamp(18px, 1,667vw, 24px);
    height: clamp(18px, 1.667vw, 24px);
}


@media screen and (min-width: 430px) and (max-width: 768px) {
    .recent-experience,
    .location {
        gap: 6px;
    } 
}

@media screen and (max-width: 430px) {
    .recent-experience,
    .location {
        gap: 4px;
    }

    .recent-experience .p1,
    .location .p1 {
        font-size: 16px;
    }

    .recent-experience .p2,
    .location .p2 {
        font-size: 12px;
    }

    .location img {
        width: 16px;
        height: 16px;
    }

    .recent-experience img {
        width: 16px;
        height: 16px;
    }
}