/*FONTS*/
@font-face {
    font-family: 'PPMori-Regular';
    src: url(../../assets/fonts/PPMori-Regular.otf);
}
@font-face {
    font-family: 'PPMori-SemiBold';
    src: url(../../assets/fonts/PPMori-SemiBold.otf);
}
@font-face {
    font-family: 'PPEditorialNew-Itlaic';
    src: url(../../assets/fonts/PPEditorialNew-Italic.otf);
}

/* COLORS */
:root {
    --black-color: #101010;
    --white-color: #ffffff;
    --grey-color: #7C7C83;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* FOOTER */
footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 60px 60px 60px;
}

.recent-experience ,
.location {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.recent-experience .p1,
.location .p1 {
    font-family: 'PPMori-SemiBold';
    color: var(--white-color);
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.recent-experience .p2,
.location .p2 {
    font-family: 'PPMori-Regular';
    color: var(--grey-color);
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.location img {
    width: 24px;
    height: 24px;
}

.recent-experience img {
    width: 24px;
    height: 23px;
}

@media screen and (min-width: 430px) and (max-width: 768px) {
    footer {
        padding: 0px 40px 40px 40px;
    }

    .recent-experience,
    .location {
        gap: 6px;
    }

    .recent-experience .p1,
    .location .p1 {
        font-size: 20px;
    }

    .recent-experience .p2,
    .location .p2 {
        font-size: 16px;
    }

    .location img {
        width: 20px;
        height: 20px;
    }

    .recent-experience img {
        width: 20px;
        height: 20px;
    }
}

@media screen and (max-width: 430px) {
    footer {
        padding: 0px 30px 30px 30px;
    }

    .recent-experience,
    .location {
        gap: 4px;
    }

    .recent-experience .p1,
    .location .p1 {
        font-size: 16px;
    }

    .recent-experience .p2,
    .location .p2 {
        font-size: 12px;
    }

    .location img {
        width: 16px;
        height: 16px;
    }

    .recent-experience img {
        width: 16px;
        height: 16px;
    }
}